
<div class="col-md-12 my-5 animated fadeInRightBig rapidoome" 
    *ngIf="topics && !loading; else loaD">
    <h1>Resultado para: {{ palabra }}</h1>
    <hr>
   
    <ul class="list-group list-topics">
        <li class="list-group-item" *ngFor="let topic of topics">
            <h4>
                <a [routerLink]="[ '/tema', topic._id]">
                    {{ topic.title }}
                </a>
            </h4>
            <span class="badge badge-primary">
                {{ topic.user.name + ' ' + topic.user.surname }}
            </span>
            <span class="badge badge-light ml-2"> 
                {{ topic.date | amLocale: 'es' | amTimeAgo }}
            </span>
            <a  [routerLink]="[ '/tema', topic._id]" 
                class="d-block btn btn-sm btn-success float-right mx-auto">
                Leer
            </a>
        </li>
   
      </ul>

</div>

<div class="alert alert-danger" *ngIf="topics.length == 0">
        No hay Temas para esta busqueda
    </div>

<ng-template #loaD>
    <h4>Cargando</h4>
        <img src="assets/img/flechacircle.svg" width="20" height="20" 
        alt="img Chargued" class="w3-spin"> 
</ng-template>
