<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4"><b>Registro</b></h1>
        <p class="lead">Regustrate a nuestro foro para poder hacer
            consultas de Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Unde nulla autem, eum quos error rerum ratione animi illum et optio nisi
            non quae, consequatur consectetur quasi quaerat delectus reiciendis reprehenderit.
        </p>
    </div>
</div>

<div class="container">

    <div *ngIf="status == 'error'" class="alert alert-danger">
        Error al crear el usuario 
    </div>

    <div *ngIf="status == 'success'" class="alert alert-success">
        Usuario Creado correctamente <a [routerLink]="[ '/login']">Loggueate AQUI</a>
    </div>

    <div *ngIf="status == 'duplicado'" class="alert alert-warning">
        Este email <b>YA EXISTE</b>, intenta con otro.
    </div>

    <form #formRegister="ngForm" (ngSubmit)="register(formRegister)">
        <div class="form-group">
            <label for="nameLogin">Nombre</label>
            <input type="text" class="form-control" id="nameLogin"  
            name="name" #name="ngModel" [(ngModel)]="user.name"
            aria-describedby="nameHelp" placeholder="Introduce tu Nombre" 
            pattern="[a-zA-ZÀ-ÿ]+" required/>

            <small *ngIf="name.invalid && name.touched" id="nameHelp" 
                    class="form-text text-monospace w3-text-red">
                Nombre no Valido</small>
        </div>

        <div class="form-group">
            <label for="surnameLogin">Apellido</label>
            <input type="text" class="form-control" id="surnameLogin"  
            name="surname" #surname="ngModel" [(ngModel)]="user.surname"
            aria-describedby="surnameHelp" placeholder="Introduce tu Apellido" 
            pattern="[a-zA-ZÀ-ÿ]+" required/>

            <small *ngIf="surname.invalid && surname.touched" id="surnameHelp" 
                    class="form-text text-monospace w3-text-red">
                Apellido no Valido</small>
        </div>

        <div class="form-group">
            <label for="emaillogin">Email</label>
            <input type="email" class="form-control" id="emaillogin"  
            name="email" #email="ngModel" [(ngModel)]="user.email"
            aria-describedby="emailHelp" placeholder="Introduce tu email" 
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>

            <small *ngIf="email.invalid && email.touched" id="emailHelp" 
                    class="form-text text-monospace w3-text-red">
                Email no Valido</small>
        </div>

        <div class="form-group">
            <label for="passwordlogin">Password</label>
            <input type="password" class="form-control" id="passwordlogin" 
            name="passwrod" #passwrod="ngModel" [(ngModel)]="user.password"
            placeholder="Introduce tu Password" required>

            <small *ngIf="passwrod.invalid && passwrod.touched" id="emailHelp" 
                    class="form-text text-monospace w3-text-red">
                Password requerido</small>
        </div>

        <button type="submit" class="btn btn-success btn-block" [disabled]="!formRegister.valid"
        >Entrar</button>
    </form>
</div>