<div class="col-lg-12">
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
          <h1 class="display-4">Welcome al Foro de Comida</h1>
          <p class="lead">En este foro prodras preguntar, aprender y mucho mas... sobre comida</p>

          <a href="" class="pointer btn btn-primary btn-lg mr-3">Ver Mas</a>
          <a href="" class="pointer btn btn-warning btn-lg mr-3">Ver compañeros</a>
          <a *ngIf="identity" href="" class="pointer btn btn-success btn-lg mr-3">Add Topic</a>
        </div>
    </div>
</div>